ulti-viewer :unresolved:after{padding:15px;content:'loading...';color:#ccc;}


ulti-viewer /deep/ #naviView{
  position:absolute;
  left:10px;
  bottom:10px;
  width:150px;
  height:150px;
  z-index: 11;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	/*background-color: #F0F;*/
	background-color:#f5f5f5;
	opacity: 0;
	/*pointer-events: none;*/
	
	/*background:white; opacity:0; filter:Alpha(opacity=0);*/
}

ulti-viewer /deep/ #perspectiveView{
  background-color:#f5f5f5;
  /*background-color: rgba(255, 0, 0, 1);*/
  /*background-color: #F00;*/
  opacity: 0;
}
/*
Colors:
blue:#4ebcf6
darkblue : #2e7396
orangeYellow:#ffd200;
*/

/*ulti-viewer:-webkit-full-screen 
  {
    width:100% !important;
    height:100% !important;
    left:0px !important;
    top:0px !important;
  } */
  
/*fix for scrollbars*/
ulti-viewer /deep/ core-menu {
    overflow: hidden !important;
}  

ulti-viewer /deep/ paper-item {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

/* all hovered paper-icon-buttons regardless of depth are getting this style*/
/*ulti-viewer /deep/ paper-icon-button{
vertical-align: middle;
}*/

/*custom ui elements*/
ulti-viewer /deep/ ui-base.core-selected /deep/ paper-icon-button{
  background:  #ffd200;
  color:white;
}

ulti-viewer /deep/ tooltip-shadow-button.core-selected /deep/ paper-icon-button{
  background:  #ffd200;
  color:white;
}


ulti-viewer /deep/ tooltip-dropdown-button.core-selected /deep/ x-trigger{
  background:  #ffd200;
  color:white;
}

ulti-viewer /deep/ tooltip-dropdown-button /deep/ #dropDownArrow{
  color:#4ebcf6;
  position:absolute;
  bottom:-5px;
  right:-6px;
  z-index: 10;
}




/*other , styling for ui elements*/
ulti-viewer /deep/ paper-icon-button:hover{
  color:white;
  background: #ffd200;
}  

ulti-viewer /deep/ paper-item {
      color:black;
      font-size: 0.8em;
      font-weight: 400;
      /*width:150px;*/
      height:40px;
}  

ulti-viewer /deep/ paper-item::shadow .button-content{
      /*color:green;*/
      height: 20px;
} 




ulti-viewer /deep/ paper-checkbox::shadow #checkbox.checked {
  border-color: #ffd200;
}
  
ulti-viewer /deep/ x-trigger:hover {
  background: #ffd200;
}  
ulti-viewer /deep/ x-trigger:hover::shadow core-icon{
  color:white;/*black*/
}
  
ulti-viewer /deep/ x-trigger /deep/ paper-dropdown:not(.no-padding)::shadow #scroller {
      box-sizing: border-box;
      /*padding: 8px;*/
      color:blue;
    }

ulti-viewer /deep/ x-trigger /deep/ paper-dropdown::shadow #scroller {
      box-sizing: border-box;
      padding: 8px;
      /*color:red;*/
    }
    
ulti-viewer /deep/ x-trigger /deep/ paper-item {
      color:black;
      font-size: 0.8em;
      font-weight: 400;
}  

ulti-viewer /deep/ x-trigger /deep/ paper-item:hover {
      color:#4ebcf6;
}  


ulti-viewer /deep/ x-trigger /deep/ paper-item.core-selected {
      background:#ffd200;
      color:black;
}  



ulti-viewer /deep/ x-trigger /deep/ paper-item::shadow .button-content{
      /*color:green;*/
      height: 20px;
} 
    
ulti-viewer /deep/ x-trigger /deep/ .open-below {
      top: 38px;
}

    
ulti-viewer /deep/ core-tooltip::shadow #tooltip {
  z-index: 0;
}

/*Top icons*/
ulti-viewer::shadow #infos{
  position:absolute;top:5px;right:20px;z-index:15;
}    

ulti-viewer::shadow #options{
  position:absolute;top:5px;right:60px;z-index:15;
}    

ulti-viewer::shadow #annotations{
  position:absolute;top:5px;right:300px;z-index:15; /*100px*/
}

ulti-viewer::shadow #transforms{
  position:absolute;top:5px;left:300px;z-index:15;
}

ulti-viewer::shadow #objProps{
  position:absolute;bottom:0px;left:0px;z-index:15;
  height: 25px;
  width: 100%;
  background-color:#f5f5f5; /*background:white;*/
  font-size: 0.8em;
  
}

ulti-viewer::shadow #objProps /deep/ input[type="number"]{
  max-width: 50px;
  border: none;
  /* height: 0.5em; */
  line-height: 0.8em;
  font-size: 0.8em;
  font-family: inherit;
}

ulti-viewer::shadow #objProps /deep/ input[type="color"]{
border: none;
padding: 0px;
margin: 0px;
width: 18px;
height: 15px;
}

ulti-viewer::shadow #gridProps{
  position:absolute;bottom:0px;right:80px;z-index:15;
  height: 25px;
  width: 200;
  font-size: 0.8em;
}

ulti-viewer::shadow #gridProps /deep/ select{
background: white;
border: white;
}


ulti-viewer::shadow #history{
  position:absolute;top:5px;left:380px;z-index:15;
}


ulti-viewer::shadow #inputOutput{
  position:absolute;top:5px;left:180px;z-index:15;

}


/*styling of 3d elements using css*/
ulti-viewer /deep/ dimensions-helper-group /deep/ distance-helper{
  color:red;
  background-color:#ffd200;
}

ulti-viewer /deep/ dimensions-helper-group /deep/ diameter-helper{
  color:#000;
  background-color:blue;
}

ulti-viewer /deep/ three-js{

  cursor:default;
}

/*overlay notes styling*/

ulti-viewer /deep/ overlay-note {
z-index:16;
width:20px;
height:20px;
border-radius: 50%;
position:absolute;
background: #ffd200;/*#494949;*/
color: black;/*white;*/
cursor:pointer;
font-size:13px;
font-weight:bold;
border: 1px solid; /*#FFEAEA;*/
}

ulti-viewer /deep/ overlay-note /deep/ h1{
font-size:1.05em;
margin:0px;
margin-bottom:3px;
}

ulti-viewer /deep/ overlay-note /deep/ span{
text-align: center;
display: block;
line-height: 20px;
font-size:16px;
}

ulti-viewer /deep/ overlay-note:hover /deep/ span{
  color: #494949;/*#4ebcf6;*/
}


ulti-viewer /deep/ overlay-note /deep/ .annotationContent{
  width: 200px;
  background: #ffd200;/*#494949;*/
  padding: 6px;
  position: absolute;
  left: 28px;
  top: 0px;
  font-weight: 300;
  
  
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

ulti-viewer /deep/ overlay-note /deep/ .annotationContent([resolved]){
  opacity:1;
visibility: visible;
}

ulti-viewer /deep/ overlay-note /deep/ .annotationContent([unresolved]){
  opacity:0;
  visibility:hidden;
}


ulti-viewer /deep/ overlay-note /deep/ .annotationContent:after, ulti-viewer /deep/ overlay-note /deep/ .annotationContent:before {
  right: 100%;
	top: 8px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 53, 61, 0);
	border-right-color: #ffd200;/*#494949;*/
	border-width: 8px;
	margin-top: -8px;
}



/*for resource loader*/

ulti-viewer /deep/ .resourceLoader{
}

ulti-viewer /deep/ .resourceLoader ul{
margin: 0 auto;list-style:none;padding:0;
background:white;
}


ulti-viewer /deep/ .resourceLoader span{
margin: 0 auto;padding:0;
background:white;
}

/*TODO:remove*/
ulti-viewer /deep/ progress-text {
  background:white;
  width: 100%;
  position:absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index:14;
  text-align:center;
}

ulti-viewer /deep/ progress-bar {
  position:absolute;
  z-index:16;
  left:0px;top:0px;right:0px;
  height:4px;
  /*text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

ulti-viewer /deep/ progress-bar /deep/ paper-progress{
  position:absolute;
  left:0px;top:0px;bottom:0px;right:0px;
  width:100%
}

ulti-viewer /deep/ progress-bar /deep/ core-tooltip{
  width:100%;
}

ulti-viewer /deep/ paper-progress::shadow #activeProgress {
  background-color: #e91e63;
}

ulti-viewer /deep/ paper-progress::shadow #progressContainer {
  background-color: #ffffff;
}

/*for camera controls*/

ulti-viewer /deep/ view-navigator{
  position:absolute;top:22px;left:13px;color:white;z-index:15;pointer-events:all;
}

ulti-viewer /deep/ view-navigator /deep/ label{
  text-indent:100%;white-space:nowrap;overflow:hidden; 
}
  
ulti-viewer /deep/ view-navigator /deep/ button{
  background:transparent;color:white;height:24px;width:24px;display:inline-block;padding:0;border:none;font-weight:bold;
} 

ulti-viewer /deep/ view-navigator /deep/ button+label>span{display:none;}

ulti-viewer /deep/ view-navigator /deep/ button>label{display:none;}
 
ulti-viewer /deep/ view-navigator /deep/ table{text-align:center;border-collapse:collapse;background:#494949;margin:7px 0 0 35px;width:50px;height:50px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 100%;-moz-transform-origin:0 100%;-ms-transform-origin:0 100%;-o-transform-origin:0 100%;transform-origin:0 100%;}


ulti-viewer /deep/ view-navigator /deep/ table tbody{display:block;margin:-11px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}

ulti-viewer /deep/ view-navigator /deep/ table th,ulti-viewer /deep/ view-navigator table td{padding:0;}

ulti-viewer /deep/ view-navigator /deep/ table #rotateLeft:before{content:"\f0d9";}

ulti-viewer /deep/ view-navigator /deep/ table #rotateRight:before{content:"\f0da";}

ulti-viewer /deep/ view-navigator /deep/ table #rotateUp:before{content:"\f0d8";}

ulti-viewer /deep/ view-navigator /deep/ table #rotateDown:before{content:"\f0d7";}

ulti-viewer /deep/ view-navigator /deep/ table #resetView:before{color:#4ebcf6;content:"\f015";}

ulti-viewer /deep/ view-navigator /deep/ #zoomIn,ulti-viewer /deep/ view-navigator /deep/ #zoomOut{position:absolute;left:23px;top:67px;background:#494949;}
ulti-viewer /deep/ view-navigator /deep/ #zoomIn:before,ulti-viewer /deep/ view-navigator /deep/ #zoomOut:before{font-size:18px;content:"+";}
ulti-viewer /deep/ view-navigator /deep/ #zoomIn:hover:before,ulti-viewer /deep/ view-navigator /deep/ #zoomOut:hover:before{color:#4ebcf6;}
ulti-viewer /deep/ view-navigator /deep/ #zoomOut{top:92px;}
ulti-viewer /deep/ view-navigator /deep/ #zoomOut:before{content:"-";}


ulti-viewer /deep/ view-navigator /deep/ table #rotateLeft:before,ulti-viewer /deep/ view-navigator /deep/ table #rotateRight:before,ulti-viewer /deep/ view-navigator /deep/ table #rotateUp:before,ulti-viewer /deep/ view-navigator /deep/ table #rotateDown:before,ulti-viewer /deep/ view-navigator /deep/ table #resetView:before{color:#fff;font-family:'FontAwesome';font-size:18px}

ulti-viewer /deep/ view-navigator /deep/ table #rotateLeft:hover:before,ulti-viewer /deep/ view-navigator /deep/ table #rotateRight:hover:before,ulti-viewer /deep/ view-navigator /deep/ table #rotateUp:hover:before,ulti-viewer /deep/ view-navigator /deep/ table #rotateDown:hover:before,ulti-viewer /deep/ view-navigator /deep/ table #resetView:hover:before{color:#4ebcf6;}



/* for view controls*/

ulti-viewer /deep/ view-settings {

  /*left:300px;
  width:100px;
  height:100px;
  z-index:12;
  position:absolute;*/
  position:relative;float:right;top:8px;right:13px;
  /*height:108px;*/
  height:100%;
  overflow:hidden;z-index:15;pointer-events:all;
}

ulti-viewer /deep/ fullscreen-toggler /deep/ input[type=checkbox]{
  display: none;
}

ulti-viewer /deep/ fullscreen-toggler /deep/ .viewSettings{
  width:30px;
}


ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]{display:none;}
/*ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]:checked+label:before{content:"\f066";}*/
ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]:checked+label:before{content:"";}

ulti-viewer /deep/ fullscreen-toggler /deep/ input[type=checkbox]+label>span{display:none;}
ulti-viewer /deep/ fullscreen-toggler /deep/ input[type=checkbox]+label>span{
  text-align:right;margin-left:20px;
}
ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]+label{
background:#494949;color:white;height:16px;width:16px;display:inline-block;padding:0px;text-align:center;line-height:16px;
margin:1px;
margin-left: 5px;
}

ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]:checked+label{
background:#17a9f5;color:white;height:16px;width:16px;display:inline-block;padding:0px;text-align:center;line-height:16px;
}

/*
ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]+label:before{
font-family:'FontAwesome';font-size:12px;content:"\f10c";}

ulti-viewer /deep/ fullscreen-toggler /deep/ input[type="checkbox"]:checked+label:before{font-family:'FontAwesome';font-size:12px;content:"\f111";color:#17a9f5;}*/


/*fullscreen button*/
ulti-viewer /deep/ fullscreen-toggler{
  position: absolute;
  bottom: 20px;
  z-index: 15;
  right: 20px;
  margin: 0px;
}

ulti-viewer /deep/ fullscreen-toggler /deep/ input.fullScreen[type=checkbox]+label{
 
}
ulti-viewer /deep/ fullscreen-toggler /deep/ input.fullScreen[type=checkbox]+label{background:#494949;height:29px;width:29px;display:inline-block;line-height:30px;text-align:center;}

ulti-viewer /deep/ fullscreen-toggler /deep/ input.fullScreen[type=checkbox]+label{background:#494949;height:29px;width:29px;display:inline-block;line-height:30px;text-align:center;}
ulti-viewer /deep/ fullscreen-toggler /deep/ input.fullScreen[type="checkbox"]+label:hover:before{color:#4ebcf6;}
ulti-viewer /deep/ fullscreen-toggler /deep/ input.fullScreen[type="checkbox"]+label:before{color:#fff;font-family:'FontAwesome';font-size:18px;content:"\f0b2";}


/*ulti-viewer /deep/ view-settings /deep/ input[type=checkbox]+label{background:#494949;height:29px;width:29px;display:inline-block;line-height:30px;text-align:center;}*/


/* old styling ?
ulti-viewer /deep/ view-settings /deep/ input[type="checkbox"]{display:none;}
ulti-viewer /deep/ view-settings /deep/ input[type="checkbox"]:checked+label:before{content:"\f066";}
*/

/*
ulti-viewer /deep/ view-settings /deep/ .polymer-ui-collapsible{margin-bottom:2px;border:1px solid black;color:#fff;background:#494949;}
ulti-viewer /deep/ view-settings /deep/ .polymer-ui-collapsible:hover{color:#4ebcf6;}
ulti-viewer /deep/ view-settings /deep/ .polymer-ui-collapsible:hover .collapsible-header-arrow{color:#4ebcf6 !important;}




ulti-viewer /deep/ view-settings /deep/ input[type=checkbox]:checked+label{background:#17a9f5;}
ulti-viewer #selectionDownload{cursor:pointer;position:absolute;left:13px;bottom:8px;width:80px;background:#494949;padding:4px 8px;color:#fff;z-index:999;}ulti-viewer #selectionDownload:hover{color:#4ebcf6;}
ulti-viewer #resourcesList{position:absolute;top:40px;right:20px;}


*/

